<div class="flex-container">

  <div class="action-container">

    <h2 class="twatter-name">Register</h2>

    <form [formGroup]="registerForm" class="action-container">

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput placeholder="Donny" formControlName="firstNameController" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput placeholder="Trumpet" formControlName="lastNameController" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" placeholder="twat@twat.com" formControlName="emailController" required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput placeholder="NOT abc123" [type]="hide_Password ? 'password' : 'text'"
               formControlName="passwordController" required>
        <mat-icon class="cursor-pointer" matSuffix (mousedown)="showPassword()" (mouseup)="hidePassword()">
          {{hide_Password ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="registerForm.get('passwordController').hasError('dumbUser')">I said NOT abc123</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput placeholder="Please don't use abc123" [type]="hide_Confirmation ? 'password' : 'text'"
               formControlName="passwordConfirmController" required>
        <mat-icon class="cursor-pointer" matSuffix (mousedown)="showConfirmation()" (mouseup)="hideConfirmation()">
          {{hide_Confirmation ? 'visibility_off' : 'visibility'}}
        </mat-icon>
        <mat-error *ngIf="registerForm.hasError('passwordDontMatch')">Passwords do not match</mat-error>
      </mat-form-field>

    </form>

    <button mat-flat-button color="primary" (click)="sendRegisterCredentials()" [disabled]="registerForm.invalid || registerForm.pristine">Register
    </button>
  </div>

</div>
