<form (submit)="onCreatePost(postForm)" #postForm="ngForm">
  <p class="mat-display-1">Create Post</p>

  <mat-divider class="header"></mat-divider>

  <mat-form-field appearance="standard">
    <div mat-card-avatar class="card-avatar-image"></div>
    <div class="text-dialog-outer">
      <ng-scrollbar autoUpdate=true>
        <textarea matInput autosize class="text-dialog-inner" name="content" placeholder="Hi {{ firstName }}, create a post?" ngModel></textarea>
      </ng-scrollbar>
    </div>
  </mat-form-field>

  <mat-card-actions align="end">
    <button mat-button type="submit">POST</button>
  </mat-card-actions>
 </form>
