
<!DOCTYPE html>

<h1>Login</h1>

<form class="" action=" /person" method="post">
  <input type="text" name="name" placeholder="Name">
  <input type="number" name="age" placeholder="age">
  <input type="submit" name="" value="Login">
</form>