<!--The header-->
<header></header>

<div class="container">
  <div id="content">

    <div id="main-content">

      <h1>{{headerTitle}}</h1>
      <mat-tab-group (selectedTabChange)="tabChanged($event)">

        <!--<mat-tab disabled="true"></mat-tab>-->
        <mat-tab label="Name">

          <div class="flex-container">

            <div class="action-container">

              <h2 class="title">Change your Name</h2>

              <form [formGroup]="changeForm" class="action-container">

                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="First Name" formControlName="firstNameController" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Last Name" formControlName="lastNameController" required>
                </mat-form-field>
              </form>
              <button mat-flat-button color="primary">Save Name
              </button>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Email">
          <div class="flex-container">

            <div class="action-container">

              <h2 class="title">Change your Email </h2>

              <form [formGroup]="changeForm" class="action-container">

                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" placeholder="twat@twat.com" formControlName="emailController" required>
                </mat-form-field>
              </form>
              <button mat-flat-button color="primary">Save Email
              </button>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Password">

          <div class="flex-container">

            <div class="action-container">

              <h2 class="title">Change your Password</h2>

              <form [formGroup]="changeForm" class="action-container">

                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput placeholder="NOT abc123" [type]="hide_Password ? 'password' : 'text'"
                         formControlName="passwordController" required>

                  <mat-icon class="cursor-pointer" matSuffix (mousedown)="showPassword()" (mouseup)="hidePassword()">
                    {{hide_Password ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                  <mat-error *ngIf="changeForm.get('passwordController').hasError('dumbUser')">I said NOT abc123
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Confirm password</mat-label>
                  <input matInput placeholder="Please don't use abc123" [type]="hide_Confirmation ? 'password' : 'text'"
                         formControlName="passwordConfirmController" required>

                  <mat-icon class="cursor-pointer" matSuffix (mousedown)="showConfirmation()"
                            (mouseup)="hideConfirmation()">
                    {{hide_Confirmation ? 'visibility_off' : 'visibility'}}
                  </mat-icon>

                  <mat-error *ngIf="changeForm.hasError('passwordDontMatch')">Passwords do not match</mat-error>
                </mat-form-field>
              </form>
              <button mat-flat-button color="primary">Save Password
              </button>
            </div>
          </div>
        </mat-tab>
        <!--<mat-tab label="Change Mode">Change Mode</mat-tab>-->

      </mat-tab-group>
    </div>
  </div>
</div>
