<app-header [firstName]="newFirtName"></app-header>

<div class="container">
  <div id="content">

    <div id="main-content">

      <h1>{{headerTitle}}</h1>
      <mat-tab-group (selectedTabChange)="tabChanged($event)">

        <mat-tab label="Name" class="titleInTabs">

          <div class="flex-container">

            <div class="action-container">

              <h2 class="title">Change your Name</h2>

              <form [formGroup]="changeForm" class="action-container">

                <mat-form-field appearance="outline">
                  <mat-label>First Name</mat-label>
                  <input matInput placeholder="First Name" formControlName="firstNameController" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Last Name</mat-label>
                  <input matInput placeholder="Last Name" formControlName="lastNameController" required>
                </mat-form-field>
              </form>
              <button mat-flat-button color="primary" (click)="changeUserName()">Change Name</button>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Email" class="titleInTabs">
          <div class="flex-container">

            <div class="action-container">

              <h2 class="title">Change your Email </h2>

              <form [formGroup]="changeForm" class="action-container">

                <mat-form-field appearance="outline">
                  <mat-label>New Email</mat-label>
                  <input matInput type="email" placeholder="twat@twat.com" formControlName="emailController" required>
                </mat-form-field>

                <!-- To make sure the user is safe to change his input email -->
                <mat-form-field appearance="outline">
                  <mat-label>Current Password</mat-label>
                  <input matInput placeholder="Current Password" [type]="hide_Password ? 'password' : 'text'"
                         formControlName="currentPasswordForEmail" required>

                  <mat-icon class="cursor-pointer" matSuffix (mousedown)="showPassword()" (mouseup)="hidePassword()">
                    {{hide_Password ? 'visibility_off' : 'visibility'}}
                  </mat-icon>

                </mat-form-field>

              </form>
              <button mat-flat-button color="primary" (click)="changeUserEmail()">Change Email
              </button>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Password" class="titleInTabs">

          <div class="flex-container">

            <div class="action-container">

              <h2 class="title">Change your Password</h2>

              <form [formGroup]="changeForm" class="action-container">

                <!-- Makes sure only user which knows both current email and password can change info -->
                <mat-form-field appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput type="email" placeholder="twat@twat.com" formControlName="emailForPassword" required>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Current Password</mat-label>
                  <input matInput placeholder="Current Password" [type]="hide_Password ? 'password' : 'text'"
                         formControlName="currentPasswordController" required>

                  <mat-icon class="cursor-pointer" matSuffix (mousedown)="showPassword()" (mouseup)="hidePassword()">
                    {{hide_Password ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                  <!--TODO: Check that the password is the original one-->
                  <mat-error *ngIf="changeForm.get('passwordController').hasError('dumbUser')">I said NOT abc123
                  </mat-error>
                </mat-form-field>


                <mat-form-field appearance="outline">
                  <mat-label>New Password</mat-label>

                  <input matInput placeholder="NOT abc123" [type]="hide_Password ? 'password' : 'text'"
                         formControlName="passwordController" required>

                  <mat-icon class="cursor-pointer" matSuffix (mousedown)="showPassword()" (mouseup)="hidePassword()">
                    {{hide_Password ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                  <mat-error *ngIf="changeForm.get('passwordController').hasError('dumbUser')">I said NOT abc123
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Confirm New Password</mat-label>
                  <input matInput placeholder="Please don't use abc123" [type]="hide_Confirmation ? 'password' : 'text'"
                         formControlName="passwordConfirmController" required>

                  <mat-icon class="cursor-pointer" matSuffix (mousedown)="showConfirmation()"
                            (mouseup)="hideConfirmation()">
                    {{hide_Confirmation ? 'visibility_off' : 'visibility'}}
                  </mat-icon>

                  <mat-error *ngIf="changeForm.hasError('passwordDontMatch')">Passwords do not match</mat-error>
                </mat-form-field>
              </form>
              <button mat-flat-button color="primary" (click)="changeUserPassword()">Change Password
              </button>
            </div>
          </div>
        </mat-tab>

        <mat-tab label="Delete My Account" class="titleInTabs">

          <div class="flex-container">
            <div class="action-container">
              <h2 class="title">Deleting your account</h2>
              <p>This action cannot be undone and this will
                result in you loosing all your Twats amongst
                other things.
              </p>
              <section>
                <mat-checkbox class="understand" [(ngModel)]="consent">I understand, delete my account</mat-checkbox>
              </section>
              <p></p>
              <form [formGroup]="changeForm" class="action-container">
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="twat@twat.com" formControlName="emailToDelete" required>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Current Password</mat-label>
                <input matInput placeholder="Current Password" [type]="hide_Password ? 'password' : 'text'" formControlName="passwordToDelete" required>

                <mat-icon class="cursor-pointer" matSuffix (mousedown)="showPassword()" (mouseup)="hidePassword()">
                  {{hide_Password ? 'visibility_off' : 'visibility'}}
                </mat-icon>

              </mat-form-field>
              </form>
              <button mat-flat-button color="primary" [disabled]="!consent" (click)="deleteUserAccount()">Delete
                Account
              </button>
            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>
