.space-between{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.side-by-side{
  display: flex;
  flex-direction: row;
}

.comment-input{
  width: 85%;
}

.comment-button{
  margin-left: 5em;
}

.comment{
  margin-left: 1em;

}

.name{
  font-size: 1.3em;
  cursor: pointer;
}

.comment-body {
  width:100%;
  padding-top:4px;
}

.action-button{
  margin-left: 10px;
}
