<div class="comment-body">
  <h3 mat-subheader>Comments</h3>
  <mat-divider></mat-divider>
  <span class="space-between">
    <mat-form-field class="comment-input">
      <input matInput placeholder="Comment" [formControl]="commentControl" (ngModelChange)="onAddComment($event)">
    </mat-form-field>

    <button mat-flat-button color="primary" [disabled]="buttonIsDisabled" (click)="postComment()">Comment</button>
  </span>

  <mat-divider></mat-divider>

  <mat-list *ngIf="comments.length > 0;else no_comment">
    <mat-list-item *ngFor="let comment of comments">
      <div class="space-between">
        <span *ngIf="!currentlyEditing || comment != currentlyEditing;else edit_comment">
        <p class="name" (click)="goToProfile(comment.userId)">{{commentNameMap.get(comment.userId)}}</p>
        <p class="comment">{{comment.text}}</p>
          </span>
        <span>
          <button mat-icon-button *ngIf="canEdit(comment)" (click)="editComment(comment)"><mat-icon color="accent">create</mat-icon></button>
          <button mat-icon-button *ngIf="canDelete(comment)" (click)="deleteComment(comment)"><mat-icon color="primary">delete</mat-icon></button>
        </span>
      </div>
      <mat-divider></mat-divider>


      <ng-template #edit_comment>
        <div class="comment-input">
          <p class="name">{{commentNameMap.get(comment.userId)}}</p>
          <span class="side-by-side">
             <mat-form-field class="comment-input">
              <input matInput placeholder="Editing comment" [formControl]="editControl">
             </mat-form-field>
              <button class="action-button" mat-mini-fab color="accent" (click)="finishEditComment(comment)"><mat-icon>check</mat-icon></button>
              <button class="action-button" mat-mini-fab color="primary" (click)="currentlyEditing=null"><mat-icon>clear</mat-icon></button>
           </span>
        </div>
      </ng-template>


    </mat-list-item>
  </mat-list>

  <ng-template #no_comment>
    <p>Be the first one to roast!</p>
  </ng-template>
</div>

