<div *ngIf="posts.length > 0">
  <mat-card *ngFor="let post of posts">
    <mat-card-header>
      <div mat-card-avatar class="card-header-image" (click)="goToProfile(post.userId)"></div>
      <mat-card-title>{{ post.firstName }} {{ post.lastName }}</mat-card-title>
      <mat-card-subtitle>{{ post.timeStamp }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <ng-scrollbar class="scrollbar">
        <div [innerHTML]="post.content" class="post-list"></div>
      </ng-scrollbar>
    </mat-card-content>

    <mat-card-actions align="end">
      <app-twat-icon-btn [likes]="post.likedBy" [liked] = "isLikedByUser(post)" (clickEvent) = "likePost(post, $event)" >l</app-twat-icon-btn>
      <button mat-icon-button><mat-icon color="accent">share</mat-icon></button>
      <div *ngIf="isUser(post.userId)">
        <button mat-icon-button (click)="onEdit(post.id)"><mat-icon color="accent">edit</mat-icon></button>
        <button mat-icon-button (click)="onDelete(post.id)"><mat-icon color="primary">delete</mat-icon></button>
      </div>
    </mat-card-actions>
  <mat-card-content>
    <mat-divider></mat-divider>
    <app-comment [comments]="post.comments.reverse()" [post] ="post" (deleted)="deleteComment(post, $event)" (commented)="commentPost(post, $event)" (edited)="editComment(post, $event)"></app-comment>
  </mat-card-content>
  </mat-card>
</div>

<div *ngIf="posts.length == 0" style="margin-top: 7rem;">
  <p class="info-text mat-display-1">
    No Twats added yet...
  </p>
</div>


