@import '../../../twatter-default-style';

main {
  width: 80%;
  margin: auto;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}

.img {
  width: 4vh;
}

.card-avatar-image {
  background-image: url('https://www.rushhhentertainment.com/event_user_profile/images/con1.jpg');
  background-size: cover;
  display: inline-block;
  position: relative;
}

.text-after-image {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15%;
  font-size: large;
}

.searchBar{
  position: fixed;
  margin-top: 3em;
  z-index: 2;
}

.logo {
  margin: 0 auto;
}

.right-justify {
  //border: solid 1px cyan;
  position: absolute;
  right: 10px;
}
.search {
  margin-top: 3.5px;
  margin-right: 5px;
  //border: solid 1px lime;
  float: right;
}
.button {
  //border: solid 1px yellow;
  margin-top: 3.5px;
  float: right;
}
