<mat-toolbar class="header" color="primary">
  <span class="left-justify">
    <nav><button mat-icon-button routerLink="/profile"><div mat-card-avatar class="card-avatar-image"></div></button></nav>
    <div class="text-after-image">{{ firstName }}</div>
  </span>

  <nav><button mat-flat-button color="primary" routerLink="/posts">Home</button></nav>

  <span class="right-justify">

    <ul class="navigation">
      <button mat-flat-button color="primary">Settings</button>
      <button mat-flat-button color="primary" (click)="onLogout()">Logout</button>
    </ul>

</span>


</mat-toolbar>
