@import '../../twatter-default-style.scss';

main {
  width: 80%;
  margin: auto;
}

.card-avatar-image {
  background-image: url('https://www.rushhhentertainment.com/event_user_profile/images/con1.jpg');
  background-size: cover;
  display: inline-block;
  position: relative;
}

.text-after-image {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15%;
  font-size: large;
}

.spacer {
margin-left: 15px;
}


.navigation {
  list-style: none;
  margin: 0;

  // background: rgb(192, 24, 91);

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-evenly;
}

.lesNotifs{
  margin-bottom: 10px;
  margin-top: 5px;
}

.left-justify {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
}


/deep/ .mat-menu-content {
  // background-color: rgb(192, 24, 91);
  background-color: mat-color($accent);
  text-align: center;
}


