::ng-deep mat-icon {
  vertical-align: middle;
  align-content: center;
  align-self: center;
  height:25px !important;
  width:25px !important;
  font-size:25px !important;
}

@keyframes appear {
  from {
      opacity: 0.75;
  }
  to {
      opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.75;
  }
}

@keyframes fade-in {
  from {
      opacity: 0.25;
      transform: scale(1);
  }
  to {
      opacity: 1;
      transform: scale(1.05);
  }

}

:hover mat-icon {
  height:35px !important;
  width:35px !important;
  //font-size:35px !important;
  animation: 0.2s fade-in;
}
