@import '../../../twatter-default-style.scss';

.carousel {
  height: 300px;
  width: 100%;
}

mat-card {
  height: 220px;
  width: 200px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  cursor: ew-resize;
}

mat-card-content {
  margin-top: 1rem;
  cursor: pointer;
}

h1 {
  margin-left: 1rem;
  color: mat-color($primary);
}

.center {
  text-align: center;
}

.card-header-image {
  background-image: url('https://www.rushhhentertainment.com/event_user_profile/images/con1.jpg');
  background-size: cover;
}

h1 {
  margin-left: 10%;
}

.stretched-tabs {
  width: 100%;
  height: 80%;
}

img {
  display: block;
  margin: auto;
  width: 200px;
}

.link-container {
  text-align: center;
  color: #ffffff;
}

a {
  color: #ffffff;
}

a:visited {
  color: #ffffff;
}
