@import '../../../twatter-default-style.scss';

.carousel {
  height: 40%;
  width: 100%;
}

mat-card {
  width: 20%;
  margin-left: 2.5px;
  margin-right: 2.5px;
  cursor: ew-resize;
}

mat-card-content {
  margin-top:1rem;
  cursor: pointer;
}

h1 {
  margin-left: 1rem;
  color: mat-color($primary);
}

.center {
  text-align: center;
}

