@import '~@angular/material/theming';

$primary: mat-palette($mat-red, A700);
$accent : mat-palette($mat-red, 200);
$warn   : mat-palette($mat-deep-orange, 800);

$twatter-theme: mat-dark-theme(
    $primary,
    $accent,
    $warn,
);

// Color Palette:
// https://www.materialpalette.com/colors
